*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #023047;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
input[type="text"] {
  width: 100%;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.button {
  flex: 1;
  font-size: 24px;
  padding: 16px;
  margin: 5px;
  background-color: #fefae0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #f9f9f9;
  color: black;
}

.button.equal {
  background-color: #9b59b6;
  color: white;
}
